name: CI Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  # --- NOUVEAU JOB : LES TESTS ---
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run Tests
        run: pytest

  # --- LE JOB DE CONSTRUCTION (Modifié) ---
  build-and-push:
    needs: test  # <--- IMPORTANT : On attend que 'test' soit fini et réussi
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: ton_pseudo/hello-devops:latest